/* Footer design */
#footer {
  padding: 20px;
  background-color: #333333;
  color: #CCCCCC;
}
#footer a {
  color: #CCCCCC;
  font-size: 30px;
  padding: 10px;
}
#footer p {
  padding-left: 10px;
}
